
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UniBolton Food Ordering System</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>

<header>
    <h2> University of Bolton | Online Food Ordering System. Welcome!</h2>
</header>

<nav>
    <a href="index.html">Home</a>
    <a href="signup.html">Sign up</a>
    <a href="profile.html">Menu</a>
    <a href="login.html">Login</a>
</nav>

<section class="hero">
    <h1>Delicious Meals Delivered to Your Doorstep</h1>
    <p>Order your favorite dishes in just a few clicks</p>
    <button class="order-now"><a href="signup.html">Order Now </a></button>
</section>

<section class="featured">
    <div class="dish">
        <img src="../static/IMAGES/food8.jpeg" alt="Dish 1">
        <h3>Egusi and fufu</h3>
        <p>A classic Nigerian cuisine with vegetable, pepper and chicken.</p>
    </div>
    <div class="dish">
        <img src="../static/IMAGES/food3.jpeg" alt="Dish 2">
        <h3>Fried rice with grilled chicken </h3>
        <p> pasta with eggs, and pepper.</p>
    </div>
    <div class="dish">
        <img src="../static/IMAGES/food1.jpeg" alt="Dish 3">
        <h3>Grilled fish</h3>
        <p>Fried fish with plantain, tomatoes and rice pasta.</p>
    </div>
</section>

<footer>
    <p>&copy; 2025 UniBOlton Food Ordering System. All Rights Reserved.</p>
</footer>

</body>
</html>