<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<!-- Navigation bar with dropdown -->
<nav>
    <div class="logo">University of Bolton | Online Food Ordering System</div>
    <div class="menu">
        <a href="index.html">Home</a>
        <a href="login.html">Log in</a>
        <a href="signup.html">Sign up </a>

    </div>
</nav>



<!-- Main Home Page Buttons -->
<div class="container">
    <a href="@{/menu}" class="card">
        <span>🍽️</span>
        <h3>View Food Menu</h3>
        <p>Browse and order meals.</p>
    </a>
    <a href="@{/cart}" class="card">
        <span>🛒</span>
        <h3>Your Order</h3>
        <p>View your Orders.</p>
    </a>

</div>

<!-- Footer -->
<footer>
    &copy; 2025 University of Bolton. All rights reserved.
</footer>


</body>
</html>


